<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue" multiple>
    <mat-option>None</mat-option>
    <mat-optgroup label="Web">
      <mat-option value="Angular">Angular</mat-option>
      <mat-option value="React">React</mat-option>
      <mat-option value="Vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
      <mat-option value="ionic">Ionic</mat-option>
      <mat-option value="teactnative">React Native</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

{{ selectedValue }}
