<mat-form-field>
  <input matInput [matDatepicker]="myDatePicker1" />
  <mat-datepicker-toggle
    [for]="myDatePicker1"
    matSuffix
  ></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker1 startView="multi-year"></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input
    matInput
    [matDatepicker]="myDatePicker2"
    [min]="minDate"
    [max]="maxDate"
  />
  <mat-datepicker-toggle
    [for]="myDatePicker2"
    matSuffix
  ></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker2></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input
    matInput
    [matDatepicker]="myDatePicker3"
    [matDatepickerFilter]="dateFilter"
  />
  <mat-datepicker-toggle
    [for]="myDatePicker3"
    matSuffix
  ></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker3></mat-datepicker>
</mat-form-field>
