<div>
  <button mat-button>Button</button>
  <button mat-raised-button>Raised</button>
  <button mat-flat-button>Flat</button>
  <button mat-stroked-button>Stroked</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini fab</button>
</div>

<div>
  <button color="primary" mat-button>Button</button>
  <button color="accent" mat-button>Button</button>
  <button color="warn" disableRipple mat-button>Button</button>
  <button color="primary" mat-raised-button>Button</button>
  <button color="accent" mat-raised-button>Button</button>
  <button color="warn" mat-raised-button>Button</button>
</div>
